.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sale{
  position: absolute;
  padding: 2px 30px;
  background-color: yellow;
  font-weight: 700;
}

.sendmsg{
  margin-top: 15px;
  background-color: rgb(255, 225, 0);
  color: white;
  width: 170px;
  border-radius: 5px;
  height: 40px;
  font-size: large;
  font-weight: 500;
}

.our-menu{
  margin-top: 40px;
}

.card{
  position: relative;
}

.all{
  margin-left: 150px;
  margin-right: 150px;
}

.book{
  margin-top: 50px;
}
